In [1]:
# import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
from datetime import datetime
plt.style.use('fivethirtyeight')
# plt.style.use('seaborn')
%matplotlib inline 
import yfinance as yf
idx = pd.IndexSlice

In [66]:
tickers = 'SPY IWM QQQ RSP XLE XLP XLI XLF XLY XLB XLRE XLK XLC XLU XLV IWF IWD VYM USMV MTUM TLT TIP IEF'
start=None
end=None

In [67]:
data = yf.download(tickers, start=start, end=end, auto_adjust=True,
                   group_by="ticker")

[*********************100%***********************]  23 of 23 completed

In [68]:
prices = data.loc[:, idx[:,'Close']]
prices.columns = prices.columns.droplevel(1)

In [69]:
prices

,XLC,XLE,TLT,TIP,XLI,XLP,IEF,SPY,RSP,QQQ,...,XLB,IWM,XLU,XLY,XLK,XLV,XLRE,USMV,IWF,XLF
Date,,,,,,,,,,,,,,,,,,,,,
1993-01-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.884184,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.068277,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.123499,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.399649,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993-02-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,26.510111,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-06-24,80.550003,55.049999,143.500000,127.449997,102.150002,69.150002,115.129997,425.100006,150.089996,349.890015,...,82.120003,231.889999,63.299999,176.809998,145.399994,125.129997,44.369999,73.080002,268.609985,36.490002
2021-06-25,80.650002,55.340000,142.009995,127.580002,102.349998,69.680000,114.889999,426.609985,151.139999,349.459991,...,82.129997,232.279999,63.980000,177.929993,145.229996,125.699997,44.689999,73.559998,269.070007,36.930000
2021-06-28,81.559998,53.470001,143.470001,127.769997,101.809998,69.739998,115.250000,427.470001,150.509995,353.709991,...,82.129997,230.440002,64.389999,177.970001,146.750000,125.889999,44.709999,73.699997,271.239990,36.660000
2021-06-29,81.120003,53.209999,143.710007,127.839996,101.610001,69.430000,115.309998,427.700012,150.399994,354.989990,...,82.089996,229.339996,63.349998,178.410004,147.820007,126.029999,44.680000,73.669998,272.160004,36.529999
2021-06-30,80.930000,53.810001,144.608704,128.210007,102.351601,69.879997,115.610001,427.970703,150.649994,354.299988,...,82.150002,229.789993,63.240002,178.750000,147.410004,125.875000,44.549999,73.639999,271.589996,36.709999

In [70]:
# get quad data 
quads = pd.read_csv('quads_06-1948_09-2020.csv', index_col=0, parse_dates=['Date '])
quads

            Quad
Date
1948-06-30     2
1948-09-30     1
1948-12-31     4
1949-03-31     4
1949-06-30     4
...          ...
2020-06-30     4
2020-09-30     2
2020-12-31     1
2021-03-31     2
2021-06-30     2

[293 rows x 1 columns]

In [71]:
def period_total_return(df):
    period_total_returns = df.add(1).cumprod().sub(1)
    return(period_total_returns[-1])

In [72]:
returns = prices.pct_change().resample('bQ').apply(period_total_return)

In [73]:
returns_quads = returns.join(quads)

In [74]:
returns_quads.loc['1998':].groupby('Quad').mean().mul(100).round(2).T

Quad     1     2     3     4
XLC   7.31  7.45 -5.89  4.90
XLE   7.01  3.80  0.73 -1.11
TLT   2.34 -1.64  2.88  3.96
TIP   1.04  0.57  1.28  1.35
XLI   7.15  3.39  0.56  0.18
XLP   5.17  0.73  0.73  1.38
IEF   1.52 -0.38  1.62  2.32
SPY   7.40  2.39  0.33  0.32
RSP   7.01  5.63 -0.61  2.09
QQQ   6.84  5.44  2.01 -0.60
IWD   6.91  2.53 -0.43  0.80
MTUM  6.10  4.97  1.28  5.93
VYM   5.95  4.36 -1.17  0.70
XLB   7.86  2.85 -0.10  1.44
IWM   7.64  5.18 -0.95  1.10
XLU   4.61 -0.99  2.70  1.68
XLY   7.00  3.01 -0.10  3.13
XLK   6.05  4.25  1.42 -0.22
XLV   5.75  2.28  0.65  1.77
XLRE  5.15  2.28  0.05  6.90
USMV  5.43  2.81  0.93  5.20
IWF   6.16  4.02 -0.05 -0.29
XLF   6.88  2.88 -1.18  0.48

In [82]:
returns_quads.loc['1998':'2018'].groupby('Quad').mean().mul(100).round(2).T #.to_csv('sectors_factors_quads_1998-2018.csv')

Quad     1     2     3     4
XLC    NaN -0.86   NaN -8.14
XLE   6.57  3.12  2.75 -3.90
TLT   2.30 -1.29  1.92  4.24
TIP   0.97  0.33  1.21  0.94
XLI   7.04  2.27  1.47 -1.69
XLP   5.05 -0.12  1.11  0.44
IEF   1.61 -0.17  1.14  2.41
SPY   7.45  1.19  0.90 -1.52
RSP   6.69  4.91  0.43 -0.39
QQQ   6.80  4.53  2.38 -3.27
IWD   6.68  1.34  0.49 -0.56
MTUM  6.52  4.19  2.88 -0.04
VYM   5.59  3.62 -0.06 -2.03
XLB   7.94  1.62  0.64 -0.41
IWM   6.84  4.48  0.17 -1.01
XLU   4.24 -1.72  3.27  1.12
XLY   7.16  1.97  0.50  0.93
XLK   5.88  2.98  1.75 -3.03
XLV   6.08  1.03  1.12  0.86
XLRE  2.75 -0.20  4.30 -1.54
USMV  5.37  2.01  2.61  2.17
IWF   6.12  2.74  0.36 -2.74
XLF   6.25  1.34 -0.39 -0.60